<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecasts</title>
    <h1>Forecasts</h1>
<ul>
    {{#each data}}
    <li>{{@key}} : {{this}}</li>
    {{/each}}
</ul>

{{!-- <div class= "backgroundColor"> --}}
<form action='/forecasts' method='POST'>
    <label for='location'>location:</label>
    <input id='location' type='text' name='location'>
    <input id='countryCode' type='text' name='countryCode'>
    <input id='submit' type='submit' value='Quigzy'>
</form>
